body {
  cursor: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}

.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#action {
  overflow: hidden;
}

.form-horizontal {
  height: 100%;
  padding: 15px;
  overflow: auto;
}

.add-link {
  margin-top: 10px;
}